<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %x %-5p [%c{3}] [%t] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="org.gytheio" level="info"/>
        <Logger name="com.amazonaws" level="info"/>
    </Loggers>
</Configuration>